.buttons {
  font-family: "Nunito", sans-serif;
}

.navbar nav,
.navbar-item,
.navbar-menu {
  background-color: #66ccfe;
}

.app-name {
  display: flex;
  justify-content: center;
  margin: 3% auto;
  background-color: #66ccfe;
  height: 450px;
  width: 100%;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}

.app-name h1 {
  color: #ffcb4f;
  text-shadow: 1px 1px grey;
  font-family: "Nunito", sans-serif;
  letter-spacing: 18px;
  font-size: 8vw;
  padding: 15vh;
}

.searchBar-container {
  margin: 3% auto;
  display: flex;
  justify-content: center;

  font-family: "Nunito", sans-serif;
}
.searchBar-container input {
  width: 50%;
  margin-right: 3px;
  color: #22beb6;
  font-family: "Nunito", sans-serif;
}
.searchBar-container a {
  color: #22beb6;
}

.searchBar-container span {
  color: #22beb6;
  /* display: block; */
}

.searchBar-container select {
  display: inline;
}

.intro-container {
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  color: grey;
  font-family: "Nunito", sans-serif;
}

.category-title-container {
  margin: 5%;
}

.categorie-container {
  margin-left: 4%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media (max-width: 700px) {
  .categorie-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }
}

.categorie-container button {
  text-align: center;
  margin-top: -0.5%;
  margin-right: 1.5%;
  height: 150px;
  max-width: 200px;
  min-width: 200px;
  color: white;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.categorie-container :hover {
  /* opacity: 0.8; */
  animation-name: stretch;
  animation-duration: 0.3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.categorie-container button i {
  font-size: 70px;
  color: white;
  padding: 3%;
}

.category {
  background-image: linear-gradient(
    rgba(102, 204, 254, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  background-repeat: no-repeat;
  background-size: cover;
}
.category-1 {
  background-image: linear-gradient(
      rgba(102, 204, 254, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("./images/docu1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.category-2 {
  background-image: linear-gradient(
      rgba(102, 204, 254, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("./images/comedy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.category-3 {
  background-image: linear-gradient(
      rgba(102, 204, 254, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("./images/fail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.category-4 {
  background-image: linear-gradient(
      rgba(102, 204, 254, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("./images/popcorn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.category-5 {
  background-image: linear-gradient(
      rgba(102, 204, 254, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("./images/cat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.category-6 {
  background-image: linear-gradient(
      rgba(102, 204, 254, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("./images/workout.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.category-7 {
  background-image: linear-gradient(
      rgba(102, 204, 254, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("./images/yoga.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.category-8 {
  background-image: linear-gradient(
      rgba(102, 204, 254, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("./images/cooking.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.signup-container input {
  width: 30%;
  margin-top: 50px;
  margin-left: 10px;
  color: #22beb6;
}

.nav-hello-name {
  margin-top: 2rem;
  background-color: #66ccfe;
  font-size: 18px;
  display: flex;
  justify-content: center;
  color: black;
}

.home-image {
  width: 28px;
  height: 18px;
}

.wrapperVideo {
  position: relative;
  height: 100%;
  width: 100%;
}

#PlayerBarContainer {
  width: 70%;
  height: 70px;
  border: 1px solid #ffcb4f;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 72%;
  right: 15%;
}

#addToPlaylistIMG,
#sharingIMG,
#nextVideoIMG {
  height: 50px;
  margin: 10px;
}

#addToPlaylistIMG,
#sharingIMG {
  float: left;
}

#sharingIMGTwitter {
  height: 72px;
}

#nextVideoIMG {
  float: right;
}

#PlayerBarContainer :hover {
  animation-name: stretch;
  animation-duration: 0.3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

.pointer {
  cursor: pointer;
}

.video-player {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 56.25%; /* 9 / 16 * 100 */
}

.video-player > iframe {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 1%;
  left: 15%;
  border: 0;
}

.spinner-container {
  padding-top: 20%;
  padding-left: 45%;
}

/* AddCategory */
/* .addCategory-container form {
  width: 20rem;
  background-image: linear-gradient(
    rgba(102, 204, 254, 0.3),
    rgba(0, 0, 0, 0.3)
  );
} */

.select-icon input {
  display: none;
}

.select-icon i {
  font-size: 30px;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
  color: rgb(102, 204, 252);
}
.select-icon i:hover {
  font-size: 30px;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
  color: grey;
}
/* .select-icon  input:checked {
  font-size: 30px;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
  color: grey;
} */

.selectedIcon {
  font-size: 30px;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
  color: grey;
}

.playlistVideo {
  display: inline-block;
  margin: 10px;
}

.playlistVideo img:hover {
  opacity: 0.4;
  color: green;
}

.playlistHeading {
  font-family: "Nunito", sans-serif;
  font-size: 3vh;
  margin-top: 15px;
}
