.buttons {
  font-family: "Nunito", sans-serif;
}

.navbar nav,
.navbar-item,
.navbar-menu {
  background-color: #66ccfe;
}

.app-name {
  display: flex;
  justify-content: center;
  margin: 3% auto;
  background-color: #66ccfe;
  height: 450px;
  width: 100%;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}

.app-name h1 {
  color: #ffcb4f;
  text-shadow: 1px 1px grey;
  font-family: "Nunito", sans-serif;
  letter-spacing: 18px;
  font-size: 8vw;
  padding: 15vh;
}

.searchBar-container {
  margin: 3% auto;
  display: flex;
  justify-content: center;
  font-family: "Nunito", sans-serif;
}
.searchBar-container input {
  width: 50%;
  margin-right: 3px;
  color: #22beb6;
  font-family: "Nunito", sans-serif;
}
.searchBar-container a {
  color: #22beb6;
}

.searchBar-container span {
  color: #22beb6;
  display: block;
}

.intro-container {
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  color: grey;
  font-family: "Nunito", sans-serif;
}

.categorie-container {
  margin: 0 auto;
  width: 100%;
}

.categorie-container section {
  text-align: center;
  margin: 3% 1%;
  height: 150px;
  color: white;
  font-size: 30px;
  font-family: "Nunito", sans-serif;
}

.categorie-container :hover {
  /* opacity: 0.8; */
  animation-name: stretch;
  animation-duration: 0.3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.categorie-container section i {
  font-size: 70px;
  color: white;
  padding: 3%;
}

#categorie-1 {
  background-image: linear-gradient(
      rgba(102, 204, 254, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("./images/docu1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#categorie-2 {
  background-image: linear-gradient(
      rgba(102, 204, 254, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("./images/comedy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#categorie-3 {
  background-image: linear-gradient(
      rgba(102, 204, 254, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("./images/fail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#categorie-4 {
  background-image: linear-gradient(
      rgba(102, 204, 254, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("./images/popcorn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#categorie-5 {
  background-image: linear-gradient(
      rgba(102, 204, 254, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("./images/cat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.signup-container input {
  width: 30%;
  margin-top: 50px;
  margin-left: 10px;
  color: #22beb6;
}

.nav-hello-name {
  margin-top: 2rem;
  background-color: #66ccfe;
  font-size: 18px;
  display: flex;
  justify-content: center;
  color: black;
}

.home-image {
  width: 28px;
  height: 18px;
}

.wrapperVideo {
  position: relative;
  height: 100%;
  width: 100%;
}

#PlayerBarContainer {
  width: 70%;
  height: 70px;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  top: 77%;
  right: 15%;
}

#addToPlaylistIMG,
#sharingIMG,
#nextVideoIMG {
  height: 50px;
  margin: 10px;
}

#addToPlaylistIMG,
#sharingIMG {
  float: left;
}

#sharingIMGTwitter {
  height: 72px;
}

#nextVideoIMG {
  float: right;
}

.video-player {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 56.25%; /* 9 / 16 * 100 */
}

.video-player > iframe {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 5%;
  left: 15%;
  border: 0;
}

.spinner-container {
  padding-top: 20%;
  padding-left: 45%;
}
