@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

#app-header.smaller {
  height: 0px;
}

#app-header.smaller h1#logo {
  color: #ffcb4f;
  text-shadow: 1px 1px grey;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1.5vw;
  font-size: 8vw;
  margin-top: 17vh;
  width: 100%;
  height: 0px;
  line-height: 55px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#wrapper {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 30px;
}

.container h1#logo {
  color: #ffcb4f;
  text-shadow: 1px 1px grey;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1.5vw;
  font-size: 8vw;
  margin-top: 17vh;
  text-align: center;
  width: 100%;
  height: 75px;
  line-height: 55px;
}

.container p {
  color: white;
  text-shadow: 1px 1px grey;
  font-family: "Nunito", sans-serif;
  margin-top: 5vh;
  text-align: center;
  letter-spacing: 0.1vw;
}

.container p.disappear {
  visibility: hidden;
}

#app-header {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: fixed;
  top: 6.5vh;
  left: 0;
  z-index: 999;
  background-color: #66ccfe;
  transition: height 0.6s;
}

#choost-name {
  color: #66ccfe;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.3vw;
  font-size: 2.5vh;
}

#choost-name.shown {
  color: #ffcb4f;
  text-shadow: 1px 1px grey;
}

#hello-username {
  color: #66ccfe;
  font-family: "Permanent Marker", cursive;
  font-size: 2.5vh;
}

#hello-username.shown {
  color: white;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media all and (max-width: 760px) {
  .container h1#logo {
    color: #ffcb4f;
    text-shadow: 1px 1px grey;
    font-family: "Nunito", sans-serif;
    letter-spacing: 1.5vw;
    font-size: 8vw;
    margin-top: 17vh;
  }

  #choost-name {
    color: #66ccfe;
    font-family: "Nunito", sans-serif;
    letter-spacing: 0.3vw;
    font-size: 2.5vh;
  }

  #choost-name.shown {
    color: #ffcb4f;
    text-shadow: 1px 1px grey;
    position: fixed !important;
    top: 0px !important;
    left: 100px !important;
    z-index: 1;
  }
}

#app-header.smaller {
  height: 0;
}
